*, body {
    padding: 0;
    margin: 0;
}

.navbar {
    margin: 40px;
}

.navbar div ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 400px;
    align-items: center;
}

.navbar div ul li {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar div ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #f07474;
    letter-spacing: 2px;
}

.navbar div ul .judul {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(115, 180, 255);
}

.text .jud {
    font-family: "Nunito", sans-serif;
}

.text {
    margin-left: 475px;
    margin-top: 200px;
}

.text p {
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
}

img {
    position: absolute;
    width: 500px;
    right: 0;
    top: 0;
    margin-top: 200px;
    border-radius: 20px;
    margin-right: 200px;
}